@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 기본 스타일 */
  * {
    @apply border-border;
  }

  html body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
  }

  body {
    @apply bg-background text-foreground;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }

  /* 테마 변수 */
  :root {
    --white: #ffffff;
    --black: #000000;

    --border: hsla(0, 0%, 92%, 1);
    --background: var(--white);
    --foreground: #171717;

    --secondary-background: #f2f2f2;
    --secondary-foreground: #666666;

    --tertiary-background: #ebebeb;

    --accent-foreground: #0072f5;
    --accent-background: hsla(212, 100%, 97%, 1);
  }

  .dark {
    --border: hsla(0, 0%, 12%, 1);
    --background: var(--black);
    --foreground: #ededed;

    --secondary-background: #1a1a1a;
    --secondary-foreground: #888888;

    --tertiary-background: #1f1f1f;

    --accent-foreground: #52a8ff;
    --accent-background: hsla(216, 50%, 12%, 1);
  }
}

@layer components {
  .icon-box {
    @apply rounded-md p-[6px] hover:bg-secondary-background;
  }

  /* 코드 블록 */

  pre {
    border-radius: 8px;
    border: 1px solid var(--border);
    padding: 20px 0px;
    margin: 16px 0px;
    font-size: 14px;
    overflow-x: auto;
  }

  pre [data-line] {
    padding: 0 1rem;
  }

  code {
    overflow-wrap: break-word;
  }

  p,
  li {
    code {
      border-radius: 4px;
      padding: 4px;
      margin: 0 4px;
      background-color: hsla(44, 6%, 50%, 0.15);
      color: #eb5757;
      font-size: 14px;
      overflow-wrap: break-word;
    }
  }

  /* 코드 블록 테마 */
  pre[data-theme*=' '],
  pre[data-theme*=' '] span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
  }

  .dark pre[data-theme*=' '],
  .dark pre[data-theme*=' '] span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
