@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
}

@layer base {
  :root {
    --color-border: #d1d9e0;
    --color-bg: #ffffff;
    --color-bg-muted: #818b981a;
    --color-text: #1f2328;
    --color-text-muted: #6e7781;
  }

  .dark {
    --color-border: #3d444d;
    --color-bg: #0d1117;
    --color-bg-muted: #656c7633;
    --color-text: #f0f6fc;
    --color-text-muted: #9198a1;
  }
}

@layer components {
  .icon-box {
    @apply rounded-md p-2 transition-colors hover:bg-[--color-bg-muted];
  }
}
