@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --white: hsl(210 40% 98%);
    --black: #0d1117;

    --border: var(--white);
    --background: var(--white);
    --foreground: var(--black);
  }

  .dark {
    --border: var(--black);
    --background: var(--black);
    --foreground: var(--white);
  }
}
