@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
@import 'tailwindcss';
@import 'tw-animate-css';
@import '../styles/editor.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  
  --color-ring: var(--ring);
  --color-ring-focus: var(--ring-focus);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-quaternary-foreground: var(--quaternary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-hover: var(--accent-hover);

  --color-error: var(--error);

  --font-sans:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  --font-source-code-pro: var(--source-code-pro);

  --z-header: 100;
  --z-scroll-progress-bar: 200;
  --z-alert: 1000;
}

:root {
  --background: #ffffff;
  --foreground: #191919;

  --border: #e9ecef;

  --ring: #ced4da;
  --ring-focus: #adb5bd;

  --secondary: #f1f3f5; 
  --secondary-foreground: #404040;
  --secondary-hover: #dee2e6;

  --tertiary: #868e96;
  --tertiary-foreground: #404040;

  --quaternary-foreground: #868e96;

  --shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  --shadow-code: 0 0.2em 0.6em #e0e0e0;


  --accent: hsla(212, 100%, 97%, 1);
  --accent-foreground: oklch(57.61% 0.2508 258.23);
  --accent-hover: #c9e2ff; 

  --error: #f24040;
}

.dark {
  --background: #191919;
  --foreground: #f8f9fa;

  --border: #2d2d2d;

  --ring: #404040;
  --ring-focus: #868e96;

  --secondary: #2d2d2d;
  --secondary-foreground: #e9ecef;
  --secondary-hover: #404040;

  --tertiary: #adb5bd;
  --tertiary-foreground: #ced4da;

  --quaternary-foreground: #adb5bd;

  --shadow: 0px 0px 8px rgba(150, 150, 150, 0.08);
  --shadow-code: 0 0.2em 0.6em rgba(0, 0, 0, 0.25);

  --accent: hsla(216, 50%, 12%, 1);
  --accent-foreground: #52a8ff;
  --accent-hover: #1a2738; 

  --error: #f24040;
}

@layer base {
  * {
    @apply border-border transition-colors duration-300 ease-in-out;
  }

  body {
    @apply bg-background text-foreground;
  }

  .transitions-limited * {
    @apply !transition-opacity !transition-transform;
  }
}
