@import 'tailwindcss';
@import 'tw-animate-css';
@import '../styles/editor.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-accent-foreground: var(--accent-foreground);

  --color-inverse: var(--inverse);
  --color-inverse-foreground: var(--inverse-foreground);
  --color-inverse-hover: var(--inverse-hover);

  --color-error: var(--error);

  --font-nanum: var(--font-nanum-square);
  --font-nanum-round: var(--font-nanum-square-round);
  --font-source-code-pro: var(--source-code-pro);

  --z-header: 100;
  --z-scroll-progress-bar: 200;
  --z-dialog: 1000;
}

:root {
  --background: #ffffff;
  --foreground: #424242;

  --border: #e0e0e0;

  --shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  --shadow-code: 0 0.2em 0.6em #e0e0e0;

  --secondary: #f1f3f5;
  --secondary-foreground: #757575;
  --secondary-hover: #dee2e6;

  --tertiary-foreground: #868e96;

  --accent-foreground: #567EC0;

  --inverse: #424242;
  --inverse-foreground: #ffffff;
  --inverse-hover: #606060;


  --error: #f24040;
}

.dark {
  --background: #212529;
  --foreground: #ffffff;

  --border: #424242;

  --shadow: 0px 0px 8px rgba(150, 150, 150, 0.08);
  --shadow-code: 0 0.2em 0.6em #1a1e22;

  --secondary: #2d2d2d;
  --secondary-foreground: #bdbdbd;
  --secondary-hover: #404040;

  --tertiary-foreground: #adb5bd;

  --inverse: #ffffff;
  --inverse-foreground: #212529;
  --inverse-hover: #e8e8e8;
}

@layer base {
  * {
    @apply border-border transition-colors duration-300 ease-in-out;
  }

  body {
    @apply bg-background text-foreground font-nanum;
  }

  .transitions-limited * {
    @apply !transition-opacity !transition-transform;
  }

  input[type="password"] {
    @apply font-sans;
  }
}
